@page "/"

<PageTitle>Home</PageTitle>

<h3>Home</h3>

<p class="lead">
	Welcome to the Test Data Manager. This website allows you to manage test schemes and test items within a scheme. 
	You can signup by following this <NavLink href="/Identity/Account/Register">link</NavLink>.
</p>

<div class="text-center pt-3">
	<img id="introduction_image" src="/images/index-introduction.gif" class="img-fluid border rounded-3 shadow-lg" style="max-height:450px;"
		 loading="lazy" alt="Introduction to site animation" />
</div>
