@using System.Linq.Expressions

@typeparam TValue
@inherits ValidationMessageBase<TValue>
@implements IDisposable

@if (ValidationMessages.Any())
{
    <div class="@Class" style="@Style">
        @foreach (var message in ValidationMessages)
        {
            @message
        }
    </DIV>
}