@inherits LayoutComponentBase

<PageTitle>Test Data Manager</PageTitle>

<div class="container">
	<NavMenu />
</div>

<div class="container">
	@Body
</div>

<div class="container pt-5">
	<footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
		<div class="col-md-4 d-flex align-items-center py-2">
			<span class="mb-3 mb-md-0 text-muted">© 2022 Kyle Julian</span>
		</div>
	</footer>
</div>