@inject IHttpContextAccessor Context

<div class="d-flex pt-3 flex-row-reverse">
	<AuthorizeView>
		<Authorized>
			@if (Context.HttpContext is not null)
			{
				if (Context.HttpContext.User is not null)
				{
					if (Context.HttpContext.User.Identity is not null)
					{
						<p>Hello, <strong>@Context.HttpContext.User.Identity.Name</strong>!</p>
					}
				}
			}
		</Authorized>
	</AuthorizeView>
</div>

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pb-3 mb-4 border-bottom">
	<a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href="/">

	</a>
	<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
		<li>
			<NavLink class="nav-link px-2 link-secondary" href="#">Home</NavLink>
		</li>
	</ul>
	<div class="col-md-3 text-end">
		<AuthorizeView>
			<Authorized>
				<form method="post" action="Identity/Account/LogOut">
					<a class="btn btn-primary me-2" href="Identity/Account/Manage">Manage</a>
					<button type="submit" class="btn btn-danger">Log out</button>
				</form>
			</Authorized>

			<NotAuthorized>
				<a class="btn btn-outline-primary me-2" href="Identity/Account/Login">Log in</a>
				<a class="btn btn-primary" href="Identity/Account/Register">Register</a>
			</NotAuthorized>
		</AuthorizeView>
	</div>
</header>